@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui" {
   themes: light --default dark --prefersdark;
}

/* ---------------ROOT VARIABLES ------------------ */

:root{
  --color-primary: #3A6F43;
  --color-secondary: #4682B4;
  --color-accent: #FF8C00;
  --color-neutral: #F6EFE7;

  --color-info: #17A2B8;
  --color-info-dark: #007BFF;
  --color-success: #28A745;
  --color-warning: #FFC107;  
  --color-error: #DC3545;
  --color-danger: #DC3545;
  --color-white: #ffffff;

  --color-black: #000000;
  --color-dark: #242424;
  --color-light: #f9f9f9;
  --color-dark-gray: 1C1C1C;
  --color-dark-variant: #1a1a1a;
  --color-light-variant: #f0f0f0;

  --card-padding: 1rem;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* -------- DARK THEME VARIABLES ----------- */
.dark-theme{
  --color-background: #181a1e;
  --color-foreground: #567aff;

  --color-primary-text: #f6f6f6;
  --color-secondary-text: #0a0a0a;
   
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rbga(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}


body{
  background-color: var(--color-neutral);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar-light {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.navbar-dark {
  background-color: var(--color-dark);
  color: var(--color-white)
}

.modal-header-light{
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-dark{
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* w-[700px] h-[400px] bg-white rounded-xl overflow-hidden flex flex-col items-center justify-between */

.modal-light{
  background-color: var(--color-neutral);
  border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: between;
}

.modal-dark{
  background-color: var(--color-dark);
   border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: between;
}

.btn-success{
  background-color: var(--color-success);
  color: var(--color-white);
}

.btn-danger-light{
  background-color: var(--color-danger);
  color: var(--color-dark);
}

.btn-danger-dark{
  background-color: var(--color-danger);
  color: var(--color-light);
}






.text-muted{
  color: var(--color-info-dark);
}

.primary{
  color: var(--color-primary);
}

.danger{
  color: var(--color-danger);
} 

.success{
  color: var(--color-success);
} 

.warning{
  color: var(--color-warning);
} 




.active{
  color: var(--color-accent);
}

.badge{
  background-color: var(--color-accent);
  padding: 1px;
  border-radius: 100%;

}




















/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
